<h1 class="mt-4">Guest Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<p id="pin" class="lead mb-3"></p>
<div id="guests"></div>
<a href="/guest/leave" class="btn btn-secondary">Leave</a>
<script src="/scripts/guestDashboard.js"></script>