<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-user-astronaut"></i> Join party</h1>
            <% include ./partials/messages %>
            <form action="/guest/join" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" />
                </div>
                <div class="form-group">
                    <label for="pin">Pin</label>
                    <input type="number" id="pin" name="pin" class="form-control" placeholder="Enter Pin" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Join party</button>
            </form>
            <p class="lead mt-4">
                No guest account? <a href="/guest/register">Sign up for a game</a>
            </p>
        </div>
    </div>
</div>